@model CatalogProd
@*@{
        ViewData["Title"] = "Каталог продукции";
    }*@

<div>
    <h1 class="display-4">Продукты</h1>
    <form method="post" action="">
        <table>
            <tr>
                @*<td><p>Ид продукта </p></td>*@
                @*<td><input type="hidden" name="Id" /></td>*@
            </tr>
                    <tr>
                        <td><p>Выберите категорию </p></td>
                        <td>@Html.DropDownListFor(model => model.IdCategory, ViewBag.CategoryProd as SelectList)</td>
                    </tr>
                    <tr>
                        <td><p>Наименование продукта </p></td>
                        @*<td><input type="text" name="ProdName" /> </td>*@
                        <td>@Html.EditorFor(model => model.ProdName)</td>
                        <td>@Html.ValidationMessageFor(model => model.ProdName)</td>
                    </tr>
                    <tr>
                        <td><p>Описание </p></td>
                        @*<td><input type="text" name="DescriptionProd" /> </td>*@
                        <td>@Html.EditorFor(model => model.DescriptionProd)</td>
                        <td>@Html.ValidationMessageFor(model => model.DescriptionProd)</td>
                    </tr>
                    <tr>
                        <td><p>Цена в рублях </p></td>
                        @*<td><input type="text" name="Price" /> </td>*@
                        <td>@Html.EditorFor(model => model.Price)</td>
                        <td>@Html.ValidationMessageFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <td><p>Примечание </p></td>
                        <td><input type="text" name="Remark" /> </td>
                    </tr>
                    <tr>
                        <td><p>Спец.примечание </p></td>
                        <td><input type="text" name="SpecialRemark" /> </td>
                    </tr>

                    <tr><td><input type="submit" value="Сохранить" /> </td><td></td></tr>
                </table>

            </form>
        </div>
