@{
    ViewData["Title"] = "Каталог продукции";
}

<div>
    <h1 class="display-4">Продукты</h1>
    @Html.ActionLink("Create new", "Create")
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td> Наименование продукта </td>
                    <td> Категория </td>
                    <td> Описание </td>
                    <td> Стоимость в рублях </td>
                    <td> Примечание общее </td>
                    <td> Примечание специальное </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.CatalogProds)
                {
                    <tr>
                        <td> @item.ProdName </td>
                        <td> @item.Category.CategoryName </td>
                        <td> @item.DescriptionProd </td>
                        <td> @item.Price </td>
                        <td> @item.Remark </td>
                        <td> @item.SpecialRemark </td>
                        <td>
                            @Html.ActionLink("Edit |", "Edit", new { id = @item.Id })
                            @*<a href="/Home/Edit/@item.Id">Edit</a> |*@
                            @Html.ActionLink("Del |", "Delete", new { id = @item.Id })
                            @*<a href="/Home/Delete/@item.Id">Del</a> |*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
